<template>

    <div>

        <h1 class="text-center">About Us</h1>

        <v-carousel class="my-4">
            <v-carousel-item
                    v-for="(item,i) in items"
                    :key="i"
                    :src="item.src"
                    transition="fade-transition"
            ></v-carousel-item>
        </v-carousel>

        <v-card flat
                style="border-top: 1px solid #E57373;
                       border-left: 1px solid #E57373"
                tile
                class="px-5 mx-auto"
                max-width="800">
            <v-layout row wrap
                      px-5
                      v-for="(person) in hairdressers"
                      :key="person.name" class="caption">
                <v-flex xs12 md3
                        class="pa-2">
                    <div class="caption grey--text">Name</div>
                    <div>{{person.name}}</div>
                </v-flex>
                <v-flex xs4 sm4 md3
                        class="pa-2">
                    <div class="caption grey--text">Specializes in</div>
                    <div>{{person.specializes}}</div>
                </v-flex>
                <v-flex xs8 sm6 md6
                        class="pa-2">
                    <div class="caption grey--text">Certificates</div>
                    <ul>
                        <li v-for="certificate in person.certificates"
                            :value="certificate.value"
                            :key="certificate.value">
                            {{certificate}}
                        </li>
                    </ul>
                </v-flex>
            </v-layout>
        </v-card>
    </div>
</template>

<script>
    export default {
        data: () => ({
            hairdressers: [
                {
                    name: 'Lore Mcgibbon',
                    specializes: ' Lorem Ipsum',
                    certificates: [
                        'Tempor incididunt ut labore',
                        'Et dolore magna aliqua',
                        'Ut enim ad minim veniam',
                        'Quis nostrud exercitation',
                        'Ullamco laboris nisi ut aliquip'
                    ]
                },
                {
                    name: 'Lucien Debellis',
                    specializes: 'Dolor sit amet',
                    certificates: [
                        'Tempor incididunt ut labore',
                        'Et dolore magna aliqua',
                        'Ut enim ad minim veniam'
                    ]
                },
                {
                    name: 'Delphine Bolte',
                    specializes: 'Consectetur adipiscing elit',
                    certificates: [
                        'Tempor incididunt ut labore',
                        'Et dolore magna aliqua',
                        'Ut enim ad minim veniam',
                        'Quis nostrud exercitation',
                        'Ullamco laboris nisi ut aliquip',
                        'Ut enim ad minim veniam',
                        'Quis nostrud exercitation',
                        'Ullamco laboris nisi ut aliquip'
                    ]
                },
                {
                    name: 'Byron Driver',
                    specializes: 'Sed do eiusmod',
                    certificates: [
                        'Tempor incididunt ut labore',
                        'Et dolore magna aliqua',
                        'Ut enim ad minim veniam',
                        'Quis nostrud exercitation',
                        'Ullamco laboris nisi ut aliquip',
                        'Quis nostrud exercitation',
                        'Ullamco laboris nisi ut aliquip'
                    ]
                }
            ],
            items: [
                {
                    src: 'https://images.pexels.com/photos/2068674/pexels-photo-2068674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
                },
                {
                    src: 'https://images.pexels.com/photos/2076930/pexels-photo-2076930.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
                },
                {
                    src: 'https://images.pexels.com/photos/1804638/pexels-photo-1804638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
                }
            ],
        }),
    }
</script>

