<template>
  <div>
    <v-form
            justify="center"
            ref="form"
            v-model="valid"
            lazy-validation>
      <v-container>
        <v-row justify="center">
          <v-col cols="12" md="7">
            <v-text-field
                    v-model="name"
                    :counter="15"
                    :rules="nameRules"
                    label="Name"
                    required></v-text-field>
          </v-col>
          <v-col cols="12" md="7">
            <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required></v-text-field>
          </v-col>
          <v-col cols="12" md="7">
            <v-text-field
                    v-model="message"
                    :rules="messageRules"
                    label="Message"
                    required></v-text-field>
          </v-col>
          <v-col cols="12" md="7">
            <v-btn
                    x-large
                    dark
                    :disabled="!valid"
                    color="grey darken-2"
                    class="mr-4"
                    @click="validate"
                    :loading="loading">Send a message
            </v-btn>
            <v-btn
                    color="error"
                    class="mr-4"
                    @click="reset">Clear
            </v-btn>
          </v-col>
          <v-col cols="12" md="7">
            <v-layout v-if="messageSent"
                      color="red"
                      class="px-auto body-2 grey--text text--darken-2">Message sent!</v-layout>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-divider></v-divider>
    <v-row class="mt-7 grey--text text--darken-1">
      <v-col cols="6">
        <div class="text-center">
          <v-avatar
                  class="mb-7"
                  slot="icon"
                  color="red lighten-1"
                  size="40">
            <v-icon
                    icon="call"
                    color="white">call
            </v-icon>
          </v-avatar>
          <p>You can also call us <br>
          +1234 5678 910 </p>
        </div>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="6">
        <div class="text-center">
          <v-avatar
                  class="mb-7"
                  slot="icon"
                  color="red lighten-1"
                  size="40">
            <v-icon
                    icon="my_location"
                    color="white">my_location
            </v-icon>
          </v-avatar>
          <p>Or find us in <br>
            Street 123, City</p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import db from '../fb.js';

  export default {
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 15) || 'Name must be less than 15 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      message: '',
      messageRules: [
        v => !!v || 'Message is required',
        v => (v && v.length >= 10) || 'Message must be not less than 10 characters',
      ],
      messageSent: false,
      loading: false,
    }),

    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.loading = true;

          let messageDate = {
            name: this.name,
            email: this.email,
            message: this.message
          };

          db.collection('messages').add(messageDate).then(() => {
            this.loading = false;
            this.messageSent = true;
          })
        }
      },
      reset () {
        this.$refs.form.reset()
      },
    },
  }
</script>
