<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <v-banner>
            <v-avatar
                    slot="icon"
                    color="red lighten-1"
                    size="40">
                <v-icon
                        icon="mode_comment"
                        color="white">mode_comment
                </v-icon>
            </v-avatar> From now on you can save your time and register online!
            <template v-slot:actions>
                <router-link to="/registration" tag="p">
                    <v-btn text color="grey darken-3">Try it now!</v-btn>
                </router-link>
            </template>
        </v-banner>
        <v-row align="center" justify="center">
            <v-img
                    src="https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                    lazy-src="https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                    aspect-ratio="1"
                    class="grey lighten-2"
                    max-width="1300"
                    max-height="500"
            ></v-img>
        </v-row>
    </div>
</template>

<script>


export default {

}
</script>
