<template>
    <v-container>
        <v-layout row
                  wrap
                  justify-space-between>
            <v-flex xs12 md5>
                <Calendar></Calendar>
            </v-flex>
            <v-flex xs12 md5>
                <Clock></Clock>
            </v-flex>
            <v-flex xs12>
                <Popup></Popup>
            </v-flex>
            <v-img
            src="https://images.unsplash.com/photo-1534778356534-d3d45b6df1da?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            lazy-src="https://images.unsplash.com/photo-1534778356534-d3d45b6df1da?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            max-height="300"
            class="mt-5">
            </v-img>
            <v-flex xs12>
                <Chart></Chart>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Calendar from '../components/Calendar.vue';
    import Clock from '../components/Clock.vue';
    import Popup from '../components/Popop.vue';
    import Chart from '../components/Chart.vue';

    export default {
        components: {
            Calendar,
            Clock,
            Popup,
            Chart
        }
    }
</script>
