<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-menu>
        <template v-slot:activator="{ on }">
            <v-text-field
                    v-on="on"
                    :value="formattedDate"
                    label="Choose the Date"
                    color="#424242"
                    prepend-icon="date_range"></v-text-field>
        </template>
        <v-date-picker
                v-model="dateOption"
                color="#424242"
                :min="current"
                >
        </v-date-picker>
    </v-menu>
</template>

<script>
    import format from 'date-fns/format';

    export default {
        data() {
            return {
                current: new Date().toISOString().substr(0, 10) + 1,
                dateOption: ''
            }
        },
        computed: {
            formattedDate() {
                return this.dateOption ? format(this.dateOption, 'YYYY MM DD') : ''
            }
        },
        watch: {
            dateOption: function() {
                this.$store.state.date = this.dateOption;
            }
        }
    }
</script>
