<template>
    <v-container>
        <v-card
                flat
                v-for="client in clients"
                :key="client.phone"
                class="mt-1">
            <v-layout row
                      wrap
                      class="pa-3 mx-auto"
                      ref="delete">
                <v-flex xs12 md4>
                    <div class="caption grey--text">Name</div>
                    <div>{{ client.name }}
                        <span v-if="client.information !== ''"> : {{ client.information }}</span>
                    </div>
                </v-flex>
                <v-flex xs6 sm4 md3>
                    <div class="caption grey--text">Number</div>
                    <div>{{ client.phone }}</div>
                </v-flex>
                <v-flex xs6 sm4 md4>
                    <div class="caption grey--text">Date</div>
                    <div>{{ client.date }}  |  {{ client.time }}</div>
                </v-flex>
                <v-flex xs1>
                    <v-chip
                            class="ma-2"
                            close
                            color="error"
                            text-color="white"
                            close-icon="delete"
                            @click:close="close"
                            id="client.phone"
                    >Delete</v-chip>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
        </v-card>
    </v-container>
</template>

<script>
    import db from '../fb.js';

    export default {
        data() {
            return {
                clients: []
            }
        },
        methods: {
            close() {
                let theId = this.$store.state.id;
                db.collection('clients').doc(theId).delete().then(function () {
                    console.log("Document successfully deleted!");
                }).catch(function (error) {
                    console.error("Error removing document: ", error);
                });
                /*if (this.$refs.delete.delete(phone)) {
                        db.collection('clients').delete(registrationData).then(() => {
                            this.loading = false;
                            this.registrationCompleted = true;
                        })
                    }*/
                /*let firebaseRef = db.database().ref('clients/4UFaCmLSWqSVbXVMZdZo');
                firebaseRef.remove()
                    .then(function () {
                        console.log("Remove succeeded.")
                    })
                    .catch(function (error) {
                        console.log("Remove failed: " + error.message)
                    })
*/
            }
        },
        created() {
            db.collection('clients').orderBy('date').onSnapshot(res => {
                const changes = res.docChanges();

                changes.forEach(change => {
                    if (change.type === 'added') {
                        this.clients.push({
                            ...change.doc.data(),
                            id: change.doc.id
                        })
                    } /*else if (change.type === 'removed'){
                        this.clients.remove({
                            ...change.doc.data(),
                            id: change.doc.id
                        })
                    }*/
                })
            })
        }
    }
</script>