<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-menu
            ref="menu"
            v-model="menu2"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                    v-on="on"
                    v-model="timeOption"
                    :value="chosenTime"
                    :close-on-content-click="false"
                    label="Choose the Time"
                    color="#424242"
                    prepend-icon="access_time"
                    readonly></v-text-field>
        </template>
        <v-time-picker
                v-if="menu2"
                v-model="timeOption"
                :allowed-minutes="allowedStep"
                class="mt-4"
                format="24hr"
                :min="start"
                :max="end"
                color="#424242"
                @click:minute="$refs.menu.save(timeOption)"
        ></v-time-picker>
    </v-menu>
</template>


<script>
    export default {
        data () {
            return {
                timeOption: '',
                start: '10:00',
                end: '19:45',
                menu2: false,
                modal2: false,
            }
        },
        computed: {
            chosenTime() {
                return this.timeOption ? this.timeOption : ''
            }
        },
        methods: {
            allowedStep: m => m % 15 === 0,
        },
        watch: {
            timeOption: function() {
                this.$store.state.time = this.timeOption;
            }
        }
    }
</script>