<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container
            fluid
            grid-list-md
    >
        <v-data-iterator
                :items="items"
                :items-per-page.sync="itemsPerPage"
                :page="page"
                :search="search"
                :sort-by="sortBy.toLowerCase()"
                :sort-desc="sortDesc"
                hide-default-footer
        >
            <template v-slot:header>
                <v-toolbar
                        dark
                        color="#424242 darken-4"
                        class="mb-1">
                    <v-text-field
                            v-model="search"
                            clearable
                            flat
                            hide-details
                            prepend-inner-icon="search"
                            label="Search"></v-text-field>
                    <template v-if="$vuetify.breakpoint.mdAndUp">
                        <v-spacer></v-spacer>
                        <v-select
                                v-model="sortBy"
                                flat
                                hide-details
                                :items="keys"
                                prepend-inner-icon="search"
                                label="Sort by"></v-select>
                        <v-spacer></v-spacer>
                    </template>
                </v-toolbar>
            </template>

            <template v-slot:default="props">
                <v-layout wrap>
                    <v-flex
                            v-for="item in props.items"
                            :key="item.name"
                            xs12>

                        <v-card flat
                                v-for="client in clients"
                                :key="client.phone"
                                class="mt-1">
                            <v-layout row wrap class="pa-3 mx-auto">
                                <v-flex xs12 md4>
                                    <div>{{ client.name }}
                                        <span v-if="client.information !== ''" class="subtitle-2 grey--text"> {{ client.information }}</span>
                                    </div>
                                </v-flex>
                            </v-layout>
                            <v-list dense>
                                <v-list-item
                                        v-for="(key, index) in filteredKeys"
                                        :key="index"
                                        :color="sortBy === key ? `424242 lighten-4` : `white`">
                                    <v-list-item-content>{{ key }}:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item[key.toLowerCase()] }}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                            <v-divider></v-divider>

                            <v-list dense>
                                <v-list-item
                                        v-for="(number, index) in itemsPerPageArray"
                                        :key="index"
                                        :color="sortBy === key ? `424242 lighten-4` : `white`">
                                    <v-list-item-content>{{ client.date }}  |  {{ client.time }}</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ client.phone }}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-flex>
                </v-layout>
            </template>

            <template v-slot:footer>
                <v-layout mt-2 wrap align-center justify-center>
                    <span class="grey--text">Items per page</span>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    dark
                                    text
                                    color="grey"
                                    class="ml-2"
                                    v-on="on">
                                {{ itemsPerPage }}
                                <v-icon>keyboard_arrow_down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                    v-for="(number, index) in itemsPerPageArray"
                                    :key="index"
                                    @click="updateItemsPerPage(number)">
                                <v-list-item-title>{{ number }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>

                    <v-spacer></v-spacer>

                    <span class="mr-4
                        grey--text">Page {{ page }} of {{ numberOfPages }}</span>
                    <v-btn
                            fab
                            dark
                            color="424242 darken-3"
                            class="mr-1"
                            @click="formerPage">
                        <v-icon>keyboard_arrow_left</v-icon>
                    </v-btn>
                    <v-btn fab
                           dark
                           color="424242 darken-3"
                           class="ml-1"
                           @click="nextPage">
                        <v-icon>keyboard_arrow_right</v-icon>
                    </v-btn>
                </v-layout>
            </template>
        </v-data-iterator>
    </v-container>
</template>

<script>
    import db from '../fb.js';

    export default {
        data() {
            return {
                itemsPerPageArray: [5, 10, 20, 50],
                search: '',
                filter: {},
                sortDesc: false,
                page: 1,
                itemsPerPage: 5,
                sortBy: 'name',
                keys: [
                    'Name',
                    'Date'
                ],
                clients: [],
                items: [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0,
                        sodium: 87,
                        calcium: '14%',
                        iron: '1%',
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3,
                        sodium: 129,
                        calcium: '8%',
                        iron: '1%',
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                        fat: 16.0,
                        carbs: 23,
                        protein: 6.0,
                        sodium: 337,
                        calcium: '6%',
                        iron: '7%',
                    },
                ],
            }
        },
        computed: {
            numberOfPages() {
                return Math.ceil(this.items.length / this.itemsPerPage)
            },
            filteredKeys() {
                return this.keys.filter(key => key !== `Name`)
            },
        },
        methods: {
            nextPage() {
                if (this.page + 1 <= this.numberOfPages) this.page += 1
            },
            formerPage() {
                if (this.page - 1 >= 1) this.page -= 1
            },
            updateItemsPerPage(number) {
                this.itemsPerPage = number
            },
            close() {
                alert('delete');
            }
        },
        created() {
            db.collection('clients').orderBy('date').onSnapshot(res => {
                const changes = res.docChanges();

                changes.forEach(change => {
                    if (change.type === 'added'){
                        this.clients.push({
                            ...change.doc.data(),
                            id: change.doc.id
                        })
                    } else if (change.type === 'removed'){
                        this.clients.remove({
                            ...change.doc.data(),
                            id: change.doc.id
                        })
                    }
                })
            })
        }
    }
</script>