<template>
    <v-container class="text-uppercase error--text"
                 style="border-bottom: 1px solid #E57373;
                            border-right: 1px solid #E57373;
                            background-color: white">
        <v-layout align-center justify-center row fill-height>
            <v-flex class="d-inline-block text-end col-6">
                <span class="font-weight-light">Hair</span>
                <span>Dressing</span>
                <br>
                <span class="text-center font-weight-light">Salon</span>
            </v-flex>

            <v-flex class="d-inline-block col-6">
                <span class="grey--text"> | 2019 </span>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {

    }
</script>