<template>
    <nav>
        <v-toolbar
                flat
                fixed
                centered
                class="pt-5">
            <v-toolbar-title class="text-uppercase error--text pt-3" style="cursor: pointer;">
                <router-link to="/" tag="p">
                    <span class="font-weight-light display-1">Hair</span>
                    <span class="display-1">Dressing</span>
                    <br>
                    <span class="text-center font-weight-light">Salon</span>
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn text color="grey">
                <span>Hairdresser</span>
                <v-icon right>person_outline</v-icon>
            </v-btn>
        </v-toolbar>
        <v-tabs
                small
                text
                centered
                color="blue-grey darken-3"
                class="xs-12">
            <v-tab
                    v-for="tab in tabs"
                    :key="tab.name"
                    router :to="tab.route">
                {{ tab.name }}
            </v-tab>
        </v-tabs>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                tabs: [
                    { name: 'Home', route: '/' },
                    { name: 'About us', route: '/aboutus' },
                    { name: 'Registration', route: '/registration' },
                    { name: 'Contact us', route: '/contactus' }
                ]
            }
        }
    }
</script>

<style>
.v-toolbar-title {
cursor: pointer;
}
</style>