<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-dialog max-width="600px">
        <template v-slot:activator="{ on }">
            <v-layout  justify-end>
                <v-btn v-on="on"
                       text
                       color="#E57373"
                       v-bind:disabled="dateOption === '' || timeOption === ''"
                       class="mb-4">Register</v-btn>
            </v-layout>
        </template>

        <v-card flat
                tile>
            <v-card-title>
                Please fill out the form below:
            </v-card-title>
            <v-card-text>
                <p>Your visit is set to {{ dateOption }}, {{ timeOption }}</p>
                <v-form class="px-3" ref="form">
                    <v-text-field
                            label="Your name"
                            v-model="name"
                            color="#424242"
                            prepend-icon="person"
                            :rules="[rules.nameInput]"></v-text-field>
                    <v-text-field
                            label="Your phone number ( 8X XXX XX XX )"
                            v-model="phone"
                            color="#424242"
                            prepend-icon="phone"
                            :rules="[rules.numberInputLength, rules.numberInputIfNumber]">
                    </v-text-field>
                    <v-textarea
                            label="Additional information"
                            v-model="information"
                            color="#424242"
                            prepend-icon="info"></v-textarea>
                    <v-btn text
                           color="#E57373"
                           prepend-icon="notes"
                           @click="submit"
                           :loading="loading"
                           v-bind:disabled="name === '' || phone === '' || registrationCompleted === true">Register me</v-btn>
                </v-form>
                <v-layout v-if="registrationCompleted"
                          class="px-auto pt-3">Registration completed!</v-layout>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>


<script>
    import db from '../fb.js';

    export default {
        data() {
            return {
                name: '',
                phone: '',
                information: '',
                rules: {
                    nameInput: v => v.length >= 2 || 'Fill out your name',
                    numberInputLength: v => v.length === 9 || 'Length should be 9 characters',
                    numberInputIfNumber: v => v.match('^[0-9]+$') || 'Only numeric values allowed'
                },
                loading: false,
                registrationCompleted: false,
                show: false
            }
        },
        methods: {
/*            submit() {
                if (this.$refs.form.validate()) {
                    this.loading = true;

                    var registrationData = db.collection('clients').doc();
                    registrationData.set({
                        name: this.name,
                        phone: this.phone,
                        information: this.information,
                        date: this.dateOption,
                        time: this.timeOption
                    }).then(() => {
                        this.loading = false;
                        this.registrationCompleted = true;
                    })
                }
            }*/
            submit() {
                if (this.$refs.form.validate()) {
                    this.loading = true;

                    let registrationData = {
                        name: this.name,
                        phone: this.phone,
                        information: this.information,
                        date: this.dateOption,
                        time: this.timeOption,
                        key: ''
                    };
                    db.collection('clients').add(registrationData).then(docRef => {
                        this.loading = false;
                        this.registrationCompleted = true;
                        this.$store.state.id = docRef.id;
                        return db.collection('clients').doc(docRef.id).update({key: docRef.id});
                    })
                }
            }
        },
        computed: {
            dateOption() {
                return this.$store.getters.formatDate;
            },
            timeOption() {
                return this.$store.getters.timeOption;
            }
        }
    }

</script>