<template>
  <v-app>
    <Navbar></Navbar>
    <v-content class="ma-5 grey--text text--darken-4 mx-auto">
      <router-view></router-view>
    </v-content>
    <Footer class="mb-5"></Footer>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar.vue';
import Footer from './components/Footer.vue';

export default {
  name: 'App',
  data: () => ({
    //
  }),
  components: {
    Navbar,
    Footer
  }
};
</script>

<style>
/*.v-application--wrap {
  background-color: #BDBDBD !important;
}*/


</style>

